@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Hind Siliguri', sans-serif;
    overflow: hidden;
    margin: 0px;
}

html{
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
.header{
    height: 100px;
    align-items: center;
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
}

.header .header__container{
    width: 100%;
}

.header .header__container .header__content{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
    color: #fff;
}

.header .header__container .header__content .header__link{
    text-decoration: none;
    color: #000;
    font-size: 25px;
}

.header .header__container .header__content a h1{
    color: #fff;
}

.header .header__container .header__content a h1 span{
    color: #1769ff;
}

.header .header__container .header__content ul{
    list-style: none;
    display: flex;
    margin-left: 50px;
}

.header .header__container .header__content ul li{
    margin: 0 20px;
    font-size: 18px;
}

.header .header__container .header__content .header__input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__container .header__content .header__input i{
    font-size: 18px;
}


.header .header__container .header__content .header__input .header__get a{
    text-decoration: none;
    align-items: center;
    display: flex;
    padding: 10px 30px;
    background-color: #fff;
    color: #1769ff;
    border-radius: 10px;
}

.header .header__container .header__content .header__input .header__get span{
    margin-left: 10px;
}


/* header */

/* Banner */
.banner{
    background-image: url(./img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.349);
    z-index: -1;
}

.banner .banner__container{
    position: relative;
    height: 100%;
}

.banner .banner__container .banner__content .banner__text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.banner .banner__container .banner__content .banner__text p{
    color: #1769ff;
}

.banner .banner__container .banner__content .banner__text h3{
    font-size: 90px;
}

.banner .banner__container .banner__content .banner__text a{
    text-decoration: none;
    font-size: 18px;
    padding: 10px 50px;
    background-color: #1769ff;
    color: #fff;
    border-radius: 15px;
}


/* Banner */

/* bank */

.bank{
    margin-top: -62px;
    z-index: 1;
    position: relative;
}

.bank .bank__container .bank__logo{
    display: flex;
    width: 100%;
    bottom: 0px;
    padding: 60px 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.158);
    flex-wrap: wrap;
}

.bank .bank__container .bank__logo .img{
    width: 150px;
    filter: grayscale(100%);
    cursor: pointer;
    transition: all 0.5s linear;
}

.bank .bank__container .bank__logo .img:hover{
    filter: grayscale(0%);
}

.bank .bank__container .bank__logo .bank__image{
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    text-align: center;
}

/* bank */

/* what */

.what{
    padding: 48px 0;
}

.what .what__container{
    padding: 48px 0;
}

.what .what__container .what__content{
    max-width: 50%;
}

.what .what__container .what__content h6{
    font-size: 17px;
    color: #1769ff;
}

.what .what__container .what__content h3{
    font-size: 50px;
    font-weight: 550;
    margin-bottom: 40px;
}

.what .what__container .what__bottom{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.what .what__container .what__bottom .what__image{
    flex: 0 0 40%;
    max-width: 40%;
}

.what .what__container .what__bottom .img{
    border-radius: 10px;
}

.what .what__container .what__bottom .what__text{
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 70px;
}

.what .what__container .what__bottom .what__text .what__des{
    font-size: 18px;
    margin-bottom: 30px;
}

.what .what__container .what__bottom .what__text p{
    color: rgba(0, 0, 0, 0.582);
}

.what .what__container .what__bottom .what__text a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 30px;
    background-color: #1769ff;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
}

.what .what__container .what__bottom .what__image img{
    width: 100%;
    object-fit: cover;
    height: 600px;
    display: block;
}

/* what */

/* we */
.we{
    padding: 48px 0;
    background-color: rgba(241, 241, 241, 0.281);
}

.we .we__container{
    padding: 48px 0;
}

.we .we__container .we__content{
    width: 50%;
    margin-bottom: 40px;
}

.we .we__container .we__content h6{
    font-size: 16px;
    color: #1769ff;
}

.we .we__container .we__content h3{
    font-size: 45px;
    font-weight: 550;
}

.we .we__container .we__text{
    display: flex;
    flex-wrap: wrap;
}

.we .we__container .we__text .we__left{
    flex: 0 0 30%;
    max-width: 30%;
}

.we .we__container .we__text .we__right{
    flex: 0 0 70%;
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
}

.we .we__container .we__text .we__right .we__item{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 15px;
}

.we .we__container .we__text .we__right .we__item .we__all{
    padding: 60px 30px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgba(182, 182, 182, 0.349)
    
}

.we .we__container .we__text .we__right .we__item .we__all i{
    font-size: 30px;
    color: #1769ff;
    margin-bottom: 20px;
}

.we .we__container .we__text .we__right .we__item .we__all h5{
    font-size: 20px;
}

.we .we__container .we__text .we__right .we__item .we__all p{
    margin-right: 25px;
    font-size: 18px;
}

.we .we__container .we__text .we__left p{
    font-size: 18px;
    margin-bottom: 30px;
}

.we__lol{
    font-weight: 600;
}

.we .we__container .we__text .we__left a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 50px;
    color: #fff;
    background-color: #1769ff;
    border-radius: 10px;
}


/* we */

/* why */

.why{
    padding: 48px 0;
}

.why .why__container{
    padding: 48px 0;
}

.why .why__container .why__content{
    max-width: 60%;
    margin-bottom: 30px;
}

.why .why__container .why__content h4{
    color: #1769ff;
}

.why .why__container .why__content h3{
    font-size: 50px;
}

.why .why__container .why__botoom{
    display: flex;
    flex-wrap: wrap;
    margin-left: -50px;
    margin-right: -50px;
}

.why .why__container .why__botoom .why__right{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 50px;
}



.why .why__container .why__botoom .why__right .img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}

.why .why__container .why__botoom .why__right .why__text{
    margin-bottom: 40px;
}

.why .why__container .why__botoom .why__right .why__text h3{
    font-size: 25px;
    font-weight: 550;
    margin-bottom: 15px;
}

.why .why__container .why__botoom .why__right .why__text h3 span{
    color: #1769ff;
    margin-right: 17px;
}

.why .why__container .why__botoom .why__right .why__text p{
    font-size: 19px;
    color: rgb(95, 95, 95);
}

/* why */
/* code */
.code{
    padding: 48px 0;
    background-color: #f9fbfe;
}

.code .code__container{
    padding: 48px 0;
}

.code .code__container .code__content{
    width: 50%;
    margin-bottom: 40px;
}

.code .code__container .code__content h4{
    font-size: 16px;
    color: #1769ff;
}

.code .code__container .code__content h3{
    font-size: 45px;
}

.code .code__container .code__bottom{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    align-items: center;
}

.code .code__container .code__bottom .img{
    width: 100%;
    height: 700px;
    border-radius: 10px;
    object-fit: cover;
}

.code .code__container .code__bottom .all{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 30px;
}

.code .code__container .code__bottom .code__text .code__des{
    font-size: 18px;
    margin-bottom: 30px;
}

.code .code__container .code__bottom .code__text p{
    color: rgb(128, 126, 126);
}

.code .code__container .code__bottom .code__text a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 50px;
    background-color: #1769ff;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    margin-bottom: 90px;
}

.code .code__container .code__bottom .code__text .code__number{
    display: flex;
    flex-wrap: wrap;
}

.code .code__container .code__bottom .code__text .code__number .code__item{
    flex: 0 0 50%;
    max-width: 50%;
}

.code .code__container .code__bottom .code__text .code__number .code__item h3{
    font-size: 50px;
}

.code .code__container .code__bottom .code__text .code__number .code__item p{
    font-size: 18px;
    color: #1769ff;
    font-weight: 600;
}

/* code */

/* take */
.take{
    padding: 48px 0;
}

.take .take__container{
    padding: 48px 0;
}

.take .take__container .take__content{
    width: 45%;
    margin-bottom: 40px;
}

.take .take__container .take__content h4{
    font-size: 17px;
    color: #1769ff;
}

.take .take__container .take__content h3{
    font-size: 50px;
    font-weight: 550;
}

.take .take__container .take__image{
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}

.take .take__container .take__image .take__all{
    flex: 0 0 50%;
    max-width: 50%;
    flex-wrap: wrap;
    padding: 25px;
}

.take .take__container .take__image .take__all .take__img .img{
    width: 600px;
    object-fit: cover;
    height: 500px;
    max-width: 100%;
    display: block;
    transition: all 0.3s linear ;
    border-radius: 10px;
}

.take .take__container .take__image .take__all .take__img .img:hover{
    transform: scale(.9);
    border-radius: 10px;
}

.take .take__container .take__image .take__all .take__img{
    position: relative;
    overflow: hidden;
}

.take .take__container .take__image .take__all .take__img .take__text{
    position: absolute;
    bottom: 50px;
    width: 80%;
    padding: 20px;
    background-color: #fff;
    left: 10%;
    border-radius: 10px;
}

.take .take__container .take__image .take__all .take__img .take__text h5{
    font-size: 23px;
    color: #1769ff;
}

.take .take__container .take__image .take__all .take__img .take__text p{
    font-size: 18px;
    color: rgb(156, 156, 156);
}

/* take */

/* people */
.people{
    padding: 48px 0;
    background-image: url(./img/1.jpg);
    background-position: center center;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.people::before{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.459);
    position: absolute;
    z-index: -1;
}

.people .people__container{
    padding: 48px 0;
}

.people .people__container .people__all{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
}

.people .people__container .people__all .people__content{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 30px;
}

.people .people__container .people__all .people__content p{
    font-size: 18px;
    color: rgb(172, 172, 172);
    margin-bottom: 30px;
}

.people .people__container .people__all .people__content span i{
    color: #1769ff;
    margin-top: -16px;
    transform: translateY(-10px);
    margin-right: 10px;
}

.people .people__container .people__all .people__content .people__image .img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.people .people__container .people__all .people__image{
    display:flex;
    align-items: center;
}

.people .people__container .people__all .people__image .people__des{
    margin: 0;
}

.people .people__container .people__all .people__image .people__text h4{
    font-size: 25px;
    color: #fff;
}

/* people */

/* blog */
.blog{
    padding: 48px 0;
}

.blog .blog__container{
    padding: 48px 0;
}

.blog .blog__container .blog__content{
    margin-bottom: 40px;
}

.blog .blog__container .blog__content h4{
    color: #1769ff;
}

.blog .blog__container .blog__content h3{
    font-size: 50px;
}

.blog .blog__container .blog__new{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.blog .blog__container .blog__new .blog__item{
    flex: 0 0 50%;
    max-width: 50%;
}

.blog .blog__container .blog__new .blog__item .blog__image{
    padding: 15px;
}

.blog .blog__container .blog__new .blog__item .blog__image .img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
    margin-bottom: 15px;
}

.blog .blog__container .blog__new .blog__item .blog__image p{
    color: rgb(167, 166, 166);
}

.blog .blog__container .blog__new .blog__item .blog__image .blog{
    text-decoration: none;
    font-size: 18px;
    color: #1769ff;
}

.blog .blog__container .blog__new .blog__item .blog__image h5{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}

.blog .blog__container .blog__new .blog__item .blog__image .click{
    color: #fff;
    padding: 10px 40px;
    background-color: #1769ff;
    border-radius: 10px;
    font-weight: 600;
}

/* blog */


/* call */
.call{
    padding: 48px 0;
    background-color: #f4f6f9;
}

.call .call__container .call__content{
    display: flex;
    flex-wrap: wrap;
}

.call .call__container .call__content .call__item{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.call .call__container .call__content .call__item h4{
    font-size: 20px;
}

.call .call__container .call__content .call__item p{
    font-size: 18px;
    color: rgb(153, 153, 153);
}

.call .call__container .call__content .call__item input{
    height: 50px;
    padding: 0 20px;
    outline: none;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    font-size: 15px;
    width: 200px;
}

.call .call__container .call__content .call__item button{
    height: 50px;
    background-color: #1769ff;
    text-decoration: none;
    width: 100px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 15px;
}

/* call */

/* footer */

.header .header__container .header__content .header__icon{
    display: none;
}

.footer{
    background-color: #000;
}

.footer h6{
    padding: 20px 0;
    border-top: 1px solid rgb(34, 33, 33);
    font-size: 18px;
    color: rgb(148, 148, 148);
    font-weight: 500;
    text-align: center;
}

.footer h6 a{
    text-decoration: none;
    color: #1769ff;
}

.footer .footer__container{
    padding: 48px 0;
}

.footer .footer__container .footer__content{
    display: flex;
    flex-wrap: wrap;
}

.footer .footer__container .footer__content .footer__des{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-right: 60px;
}

.footer .footer__container .footer__content .footer__item{
    flex: 0 0 22.22222%;
    max-width: 22.22222%;
}

.footer .footer__container .footer__content .text h2{
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.footer .footer__container .footer__content .text span{
    color: #1769ff;
}

.footer .footer__container .footer__content .text p{
    color: rgb(114, 114, 114);
    font-size: 18px;
}

.footer .footer__container .footer__content .text h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer .footer__container .footer__content .footer__item .footer__icon i{
    color: rgb(114, 114, 114);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 2px solid rgb(114, 114, 114);
    text-align: center;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.footer .footer__container .footer__content .footer__item .footer__icon i:hover{
    color: #1769ff;
    border: 2px solid #1769ff;
}















/* footer */