.container{
    max-width: 350px;
}

.header .header__container .header__content a h1{
    font-size: 30px;
}

.header .header__container .header__content .header__icon{
    font-size:20px;
}

.header .header__container .header__content .header__icon .fas{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 10px;
}

.banner .banner__container .banner__content .banner__text h3{
    font-size: 30px;
}

.banner{
    height: 50vh;
}

.bank .bank__container .bank__logo .bank__image{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 10px 0px;
}

.what .what__container .what__content h3{
    font-size: 30px;
}

.what .what__container{
    padding: 0px;
}

.we .we__container{
    padding: 0px;
}

.we .we__container .we__content h3{
    font-size: 30px;
}

.we .we__container .we__text .we__right .we__item{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px 0px;
}

.why .why__container .why__content h3{
    font-size: 30px;
}

.code .code__container .code__content h3{
    font-size: 30px;
}

.code .code__container .code__bottom .code__text .code__number .code__item h3{
    font-size: 30px;
}

.code .code__container .code__bottom .code__text a{
    margin-bottom: 20px;
}

.code .code__container{
    padding: 0px;
}

.take .take__container{
    padding: 0px;
}

.take .take__container .take__content h3{
    font-size: 30px;
}

.take .take__container .take__image .take__all{
    flex: 0 0 100%;
    max-width: 100%;
}

.people .people__container .people__all .people__content{
    flex: 0 0 100%;
    max-width: 100%;
}

.blog .blog__container .blog__content h3{
    font-size: 30px;
}

.blog .blog__container .blog__new .blog__item{
    flex: 0 0 100%;
    max-width: 100%;
}

.footer .footer__container .footer__content .footer__item{
    flex: 0 0 100%;
    max-width: 100%;
}