.container{
    max-width: 700px;
}

.header .header__container .header__content .header__input{
    display: none;
}

.header .header__container .header__content ul{
    display: none;
}

.header .header__container .header__content{
    display: flex;
    grid-template-columns: 0px;
}

.header .header__container .header__content .header__icon{
    display: flex;
    font-size: 30px;
    align-items: center;
}

.header .header__container .header__content .header__icon .fas{
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    margin-left: 30px;
    background-color: #1769ff;
    border-radius: 10px;
}

.header .header__container .header__content{
    justify-content: space-between;
}

.banner .banner__container .banner__content .banner__text h3{
    font-size: 60px;
}

.banner .banner__container .banner__content .banner__text a{
    display: inline-block;
}

.bank .bank__container .bank__logo .bank__image{
    flex: 0 0 25%;
    max-width: 25%;
    padding: 20px;
}

.bank .bank__container .bank__logo .img{
    width: 100px;
}

.what .what__container .what__content{
    max-width: 100%;
}

.what .what__container .what__bottom .what__image{
    flex: 0 0 100%;
    max-width: 100%;
}

.what .what__container .what__bottom .what__text{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px;
    margin-top: 70px;
}

.we .we__container .we__content{
    width: 100%;
}

.we .we__container .we__text .we__left{
    flex: 0 0 100%;
    max-width: 100%;
}

.we .we__container .we__text .we__right{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px
    
}

.we .we__container .we__text .we__left a{
    display: inline-block;
}

.we .we__container .we__text .we__left{
    margin-bottom: 50px;
}

.why .why__container .why__content{
    max-width: 100%;
}

.why .why__container .why__botoom .why__right{
    flex: 0 0 100%;
    max-width: 100%;
}

.code .code__container .code__content{
    width: 100%;
}

.code .code__container .code__bottom .all{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px;
}

.code .code__container .code__bottom{
    margin-left: 0px;
}

.take .take__container .take__content{
    width: 100%;
}

.take .take__container .take__image .take__all .take__img .img{
    height: 250px;
}

.call .call__container .call__content .call__item{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 30px;
}

.call .call__container .call__content .call__item input{
    width: 70%;
}

.call .call__container .call__content .call__item button{
    width: 25%;
}

.footer .footer__container .footer__content .footer__des{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.footer .footer__container .footer__content .footer__item{
    flex: 0 0 50%;
    max-width: 50%;
}

